# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.suo
*.user
*.userprefs
*.log
*.pdb
*.opendb
*.tlog
*.trx
*.bak
*.ncb
*.aps
*.bsc
*.sbr
*.res
*.pch
*.ipch
*.idb
*.iobj
*.ilk
*.exp
*.lib
*.obj
*.opt
*.vshost.*
*.testsettings
*.vsmdi
*.webtest
*.cache
*.designer.cs.dll
*.designer.cs.pdb
*.sqlproj.user



